<div class="footer light-accent-color flex-row">
    <div class="flex-item">
        <ul class="no-list-style">
            <li>{{ pages["_meta"].meta.endline }}</li>
        </ul>
    </div>
    <div class="social flex-item">
        <ul class="no-list-style">
            {% for social in pages["_meta"].meta.social %}
            <li>
                <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                    <i class="{{ social.icon }}" aria-hidden="true"></i>
                    <span class="sr-only">{{ social.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex-item">
        <ul class="no-list-style">
            {% for visitorAction in pages["_meta"].meta.visitoractions %}
            <li class="inline-li">
                <a href="{{ visitorAction.url }}" title="{{ visitorAction.title }}" role="button">
                    <i class="{{ visitorAction.icon }}" aria-hidden="true"></i>
                    <span class="sr-only">{{ visitorAction.title }}</span>
                </a>
            </li>
            {% endfor %}    
        </ul>
    </div>
</div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
